{% extends "base.html" %}

{% block title %}
Прогноз погоды
{% endblock %}

{% block content %}


<div style="margin-top: 100px;">

    <h1 class="text-center">Узнайте прогноз погоды в вашем регионе и не только!</h1>
    <form action="" method="post" id="forecast">
        {% csrf_token %}
            <div class="row justify-content-center">
                <div class="col-6">
                    {{ forecast_form }}
                </div>
            </div>
            <div class="d-grid d-md-flex justify-content-md-center top-spacing">
                <button class="btn btn-secondary">Узнать погоду</button>
            </div>
    </form>
    <h2 class="text-center top-spacing-head">Прогноз на 7 дней - {{ city }}</h2>
    {% if city_info %}
        <div class="сontainer">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 indent">
                    {% for city in city_info %}
                    <div class="col indent-item-top border border-secondary">
                            <p>Прогноз на {{ city.date }} <br>

                            Температура: +{{ city.temp }} °C <img src="https://yastatic.net/weather/i/icons/funky/dark/{{ city.icon }}.svg" width="50" alt="icon"> <br>
                            Ощущается как: +{{ city.feels_like }} °C <br>
                            Скорость ветра: {{ city.wind_speed }} м/с <br></p>
                    </div>
                {% endfor %}
            </div>
        </div>

    {% endif %}
</div>



{% endblock %}